/* ==================================================
   1. DESIGN TOKENS
================================================== */
:root {
    /* Colors */
    --color-bg: #FFF8F2;
    --color-surface: #F2E4D8;
    --color-primary: #C98286;
    --color-accent: #E8A6A6;
    --color-heading: #715047;
    --color-text: #3F3431;
    --color-white: #FFFFFF;

    /* Spacing */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 40px;
    --space-xl: 64px;
    --space-xxl: 96px;

    /* Border Radius */
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --radius-pill: 999px;
}


/* ==================================================
   SECTION
================================================== */
.hero-section {
    padding: var(--space-xl) 0;
}

.couple-section {
    padding: var(--space-xl) 0;
}

.event-section {
    padding: var(--space-xl) 0;
}

.love-story-section {
    padding: var(--space-xl) 0;
}

.gallery-section {
    padding: var(--space-xl) 0;
}
.location-section{
    padding: var(--space-xl) 0;
    text-align: center;
}
.gift-section{
    padding: var(--space-xl) 0;
    text-align: center;
}
.rsvp-section{
    padding: var(--space-xl) 0;
    text-align: center;
}


/* ==================================================
   2. GLOBAL / RESET
================================================== */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-size: 16px;
    line-height: 1.6;
}


/* ==================================================
   3. TYPOGRAPHY
================================================== */
h1,
h2,
h3,
p {
    margin-top: 0;
}

h1,
h2,
h3 {
    color: var(--color-heading);
}

p{
    color: var(--color-text);
}


/* ==================================================
   4. LAYOUT
================================================== */
.container {
    width: min(calc(100% - 32px), 1100px);
    margin-inline: auto;
}


/* ==================================================
   5. BUTTON COMPONENT
================================================== */
.btn {
    border: none;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-pill);
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-primary:hover{
    opacity: 0.9;
}


/* ==================================================
   6. OPENING
================================================== */
.opening {
    background-color: var(--color-bg);
    text-align: center;
    padding: var(--space-xl) 0;
}
.opening h1 {
    font-size: clamp(40px, 8vw, 72px);
    line-height: 1.1;
    color: var(--color-heading);
}
.opening p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.6;
}


/* ==================================================
   7. HERO
================================================== */
.hero {
    background-color: var(--color-surface);
    text-align: center;
    padding: var(--space-xl) 0;
    margin: 10px;
    border-radius: var(--radius-lg);
}
.hero h2 {
    font-size: clamp(28px, 5vw, 40px);
    color: var(--color-primary);
}
.hero p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.6;
    color: var(--color-text);
}


/* ==================================================
   8. COUPLE
================================================== */
/* mobile first */
.couple {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}
.bride,
.groom {
    flex: 1;
    padding: var(--space-xl);
    border-radius: var(--radius-lg);
    text-align: center;
}
.bride {
    background-color: var(--color-bg);
}
.groom {
    background-color: var(--color-surface);
}
.bride h2,
.groom h2 {
    color: var(--color-heading);
}


/* ==================================================
   9. EVENT
================================================== */
.events {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    
}
.event-card{
    padding: var(--space-lg);
    background-color: var(--color-surface);
    gap:var(--space-lg);
    border-radius: var(--radius-lg);
}


/* ==================================================
   10. LOVE STORY
================================================== */
.love-story {
    background-color: var(--color-surface);
    text-align: center;
    padding: var(--space-lg) 0;
    margin: 10px;
    border-radius: var(--radius-lg);
}

.love-story h2 {
    font-size: clamp(28px, 5vw, 36px);
    color: var(--color-primary);
}

.love-story h3 {
    font-size: clamp(20px, 4vw, 25px);
    color: var(--color-primary);
}

.love-story p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.8;
    color: var(--color-text);
}


/* ==================================================
   LOCATION
================================================== */
.location-card{
    max-width: 600px;
    margin-inline:auto;
    padding: var(--space-xl);
    background-color: var(--color-surface);
    border-radius: var(--radius-lg);
}


/* ==================================================
   RSVP
================================================== */
.rsvp-form{
    width: min(calc(100%-32px),600px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}
.form-grup{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    text-align: left;
}
.form-grup input:focus,
.form-grup select:focus {
    width:100%;
    padding: 14px 16px;
    border: 1px solid #d8c7bf;
    border-radius: var(--radius-md);
    font-size: 16px;
    font-family: 16px;
    font-family: inherit;
    background-color: var(--color-white);
}


/* ==================================================
   GIFT
================================================== */
.gift-card{
    max-width: 500px;
    margin-inline: auto;
    padding: var(--space-xl);
    background-color: var(--color-surface);
    border-radius: var(--radius-lg);
}
.bank-name{
    font-weight: 700;
    color:var(--color-heading)
}
.account-number{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
}
.account-name{
    margin-bottom: var(--space-lg);
}


/* ==================================================
   11. GALLERY
================================================== */
.gallery {
    background-color: var(--color-bg);
    text-align: center;    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);

}
.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--radius-md);
}
.photo-big {
    grid-column: span 1;
    grid-row: span 1;
}


/* ==================================================
   RESPONSIVE
================================================== */
/* untuk tablet */
@media (min-width: 480px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .photo-big {
        grid-column: span 2;
        grid-row: span 2;
    }


}

/* untuk dekstop */
@media (min-width: 768px) {

    .couple {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .bride,
    .groom {
        width: 40%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .photo-big {
        grid-column: span 2;
        grid-row: span 2;
    }

}

@media (min-width:768px){
    .events{
        flex-direction: row;
    }
    .event-card{
        flex:1;
    }
}


/* ==================================================
   FOOTER
================================================== */
.footer{
    padding: var(--space-xl) 0;
    background-color: var(--color-heading);
    color: var(--color-white);
    text-align: center;
}
.footer p{
    margin-bottom: var(--space-sm);
}
.footer-credit{
    opacity: 0.8;
    font-family: 14px;
}